In [1]:
# print 0 to 20 by using range
for num in range(0,20):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [13]:
# print 10 to 20 by using range
for num in range(10,20):
    print(num,end =' ')

10 11 12 13 14 15 16 17 18 19

In [15]:
# Print number of items in the list by using 'len'
list2=[10, 20, 14, 55, 43, 87, 76]
print("Number of item in the List2:\n",len(list2))

Number of item in the List2:
 7

In [17]:
str1="Artificial Intelligence"
for char in str1:
    print(char)

A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [25]:
print("-Suresh Varatharaj-\n- 41- \n- Infrastructure Architect-\n")

-Suresh Varatharaj-
- 41-
- Infrastructure Architect-

In [27]:
tuple1=(1, 'Welcome', 2, 'Hope')
print(tuple1)

(1, 'Welcome', 2, 'Hope')

In [35]:
Tuple1 = (0, 1, 2, 3)
Tuple2 = ('python', 'HOPE')
Tuple3 =(Tuple1,Tuple2)
print(Tuple3)

((0, 1, 2, 3), ('python', 'HOPE'))

In [39]:
# print Odd Numbers in the list
list3=(20,10,16,19,25,1,276,188)
for num in list3:
    if (num%2 == 1):
        print(num,"is Odd")

19 is Odd
25 is Odd
1 is Odd

In [41]:
# print Odd Numbers in the list
list3=(20,10,16,19,25,1,276,188)
for num in list3:
    if (num%2 == 0):
        print(num,"is Even")

20 is Even
10 is Even
16 is Even
276 is Even
188 is Even